<form class="mb-3" name="searchForm" role="form" novalidate (ngSubmit)="reset()" [formGroup]="searchForm">
  <fieldset>
    <legend class="h2">An easier way to find your recipes</legend>

    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">
        <fa-icon icon="bowl-food"></fa-icon>
        Name
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" id="name" formControlName="name" placeholder="Name" />
      </div>
    </div>

    <div class="row mb-3">
      <label for="rating" class="col-sm-2 col-form-label">
        <fa-icon icon="star"></fa-icon>
        Rating
      </label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Rating" name="rating" id="rating" formControlName="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="sort" class="col-sm-2 col-form-label">
        <fa-icon icon="filter"></fa-icon>
        Sort
      </label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Sort" name="sort" id="sort" formControlName="sort">
          <option value="name,asc">A - Z</option>
          <option value="name,desc">Z - A</option>
          <option value="createdDate,asc">Newest</option>
          <option value="createdDate,desc">Oldest</option>
        </select>
      </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-primary" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon>
        Create a recipe
      </button>
      <button class="btn btn-info" type="submit" [disabled]="isLoading">
        <fa-icon icon="search" [spin]="isLoading"></fa-icon>
        Search
      </button>
    </div>
  </fieldset>
</form>

<myr-alert-error></myr-alert-error>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3" infinite-scroll
  (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="last" [infiniteScrollDistance]="0"
  *ngIf="recipes && recipes.length > 0">

  <div class="col" *ngFor="let recipe of recipes; trackBy: trackIdentity">
    <div class="card shadow-sm h-100 rounded">
      <img *ngIf="recipe.imageUrl" class="card-img-top rounded-top" alt="Image" [src]="recipe!.imageUrl">
      <img *ngIf="!recipe.imageUrl" class="card-img-top rounded-top" alt="Image" src="assets/images/recipe.jpg">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">{{ recipe.name }}</h4>
        <h6 class="card-subtitle mb-2">
          <ngb-rating class="text-warning fs-5" [readonly]="true" [max]="5" [(rate)]="recipe.rating!"></ngb-rating>
        </h6>
        <div class="btn-group mt-auto">
          <button type="button" class="btn btn-sm btn-outline-info me-2"
            [routerLink]="['./', recipe.id, 'view']">View</button>
          <button type="button" class="btn btn-sm btn-outline-primary me-2"
            [routerLink]="['./', recipe.id, 'edit']">Edit</button>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteRecipe(recipe)">Delete</button>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ recipe.createdDate | date:'mediumDate'}}</small>
      </div>
    </div>
  </div>
</div>