<div *ngIf="allBeans">
  <h2 id="configuration-page-heading">Configuration</h2>

  <input type="text" placeholder="Filter (by prefix)" [(ngModel)]="beansFilter" (ngModelChange)="filterAndSortBeans()"
    class="form-control" />

  <h3 id="spring-configuration">Spring configuration</h3>

  <div class="table-responsive">
    <table class="table table-striped" aria-describedby="spring-configuration">
      <thead>
        <tr myrSort predicate="prefix" [(ascending)]="beansAscending" (sortChange)="filterAndSortBeans()">
          <th myrSortBy="prefix" scope="col" class="w-40">
            Prefix
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" class="w-60">Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bean of beans">
          <td>
            <span>{{ bean.prefix }}</span>
          </td>
          <td>
            <div class="row" *ngFor="let property of bean.properties | keyvalue">
              <div class="col-md-4">{{ property.key }}</div>
              <div class="col-md-8 text-info">
                <span class="float-end break">{{ property.value | json }}</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngFor="let propertySource of propertySources; let i = index">
    <h4 [id]="'property-source-' + i">
      <span>{{ propertySource.name }}</span>
    </h4>

    <div class="table-responsive">
      <table class="table table-sm table-striped"
        [attr.aria-describedby]="'property-source-' + i">
        <thead>
          <tr>
            <th scope="col" class="w-40">Property</th>
            <th scope="col" class="w-60">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of propertySource.properties | keyvalue">
            <td class="break">{{ property.key }}</td>
            <td class="break text-info">
              <span class="float-end break">{{ property.value.value }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>