<div class="modal-header">
  <h4 class="modal-title">
    Cookie Policy
  </h4>

  <button aria-label="Close" data-dismiss="modal" class="btn-close" type="button" (click)="dismiss()">
  </button>
</div>

<div class="modal-body">
  <div>
    <h5>What are cookies, pixels, and local storage?</h5>
    <p>
      <span class="text-decoration-underline">Cookies</span> are small files placed on your computer as you browse the web
      or use a web-enabled app.
    </p>

    <p><span class="text-decoration-underline">Pixels</span> are small amounts of code placed on a web page, in a web-enabled
      app, or an email.</p>

    <p><span class="text-decoration-underline">Local storage</span> is used to save data on your computer or mobile device.</p>

    <h5>How cookies are used on MyRecipe</h5>
    <p>MyRecipe only uses local storage to keep you logged in.</p>
  </div>
</div>

<div class="modal-footer">
  <button data-dismiss="modal" class="btn btn-secondary float-start" type="button" (click)="dismiss()">Done</button>
</div>