<div class="modal-header">
  <h4 class="modal-title">
    Privacy Policy
  </h4>

  <button aria-label="Close" data-dismiss="modal" class="btn-close" type="button" (click)="dismiss()">
  </button>
</div>

<div class="modal-body">
  <div>
    <h5>MyRecipe Privacy Policy</h5>
    <p>We believe you should always know what data we collect from you and how we use it, and that you should have
      meaningful control over both. We want to empower you to make the best decisions about the information that you
      share with us.</p>

    <p>MyRecipe is public and anyone around the world can join us. We give you non-public, protected ways to add your
      own recipes. You can use MyRecipe under a login if you prefer not to use your name.</p>

    <p>When you use MyRecipe, even if you're not adding any recipes, we receive no personal information. You can choose
      to share additional information with us like your email address, first name and last name.</p>

    <p>We give you control through your settings to limit the data we collect from you.</p>

    <p>If you have questions about this policy, how we collect or process your personal data, or anything else related
      to our privacy practices, we want to hear from you. You can
      <a href="mailto:tom.vanwyngaerden@student.ucll.be">contact</a> us at any time.
    </p>
  </div>
</div>

<div class="modal-footer">
  <button data-dismiss="modal" class="btn btn-secondary float-start" type="button" (click)="dismiss()">Done</button>
</div>